@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilites;

html {
    scroll-behavior: smooth;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-inter: var(--font-inter);
    --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
    overflow-x: hidden;
    color: #474a51;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.custom-shadow {
    -webkit-box-shadow: 1px 1px 2px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 2px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 2px 3px rgba(34, 60, 80, 0.2);
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
}
.pictures {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}
.pictures:hover {
    filter: opacity(0.8);
}
@media (min-width: 1370px) {
    .product-detail {
        flex-direction: row;
    }
    .product-detail_image {
        width: 666px;
        height: 580px;
    }
}
@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 480px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}
.galleryModalImage {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    transition: opacity 0.4s ease, visibility 0.4s ease,
        transform 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
}
.openGalleryImage {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
